@font-face {
    font-family: 'pixel';
    src: url('font/pixel.ttf');
}

* {
    font-family: 'pixel', monospace;
}

body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#gameScreen{
    background-image: url('imgs/bg.png');
}

